.PageWrapper {
  margin: 0 auto;
  max-width: 1040px;
  padding: 0 25px;
}

.HeaderOneStyle {
  font-size: 80px;
  font-weight: normal;
  margin: 0;
}

.ArticleCardWrapper {
  align-items: flex-start;
  border: 1px solid black;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 50px 0px;
  padding: 25px;
}

.ArticleCardImage {
  flex-basis: 30%;
  padding: 0px 30px 0px 10px;
}

.ArticleCardImage img {
  height: auto;
  width: 100%;
}

.ArticleCardText {
  flex-basis: 70%;
}

.ArticleCardTitle {
  font-size: 36px;
  font-weight: bold;
  margin: 0;
}

.ArticleCardDate {
  margin: 5px 0px 5px 10px;
}

.ArticleCardBlurb {
  margin: 25px 0px 25px 0px;
}

.ArticleCardLink {
  font-weight: bold;
}